.button {
    display: block;
    width: 100%;
    height: 100%;

    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);

    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color: white;
    line-height: 25px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 2px;
    margin-left: 2px;

}

#pfp {

}
.project-heading{
    margin:auto;
    padding-bottom: 20px;
}
.project-image{
    height: 50px;
    width: 100%;
    margin: auto;
}
.project-gif{

    height: 2500px;
    width: 100%;


}
.project-links{
    margin-up: 10px;

}

.project-info{

  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #303030;
  resize: none;

}

.icons{

    height: 10%;
    width: 10%;
    display: flex;
    margin: auto;
    padding-top: 10px;
    color: grey;

}
.but{
    color: #FFF;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
    text-align: center;
    line-height: 30px;
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.but:hover{

    transition: 1s ease-in-out;
    background: darkgrey;
    color:black;

}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}


.but:hover svg {
  stroke-dashoffset: -480;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

p {
color: #adb7bd; font-family: 'Lucida Sans', Arial, sans-serif;
font-size: 16px; line-height: 26px; text-indent: 30px; margin: 0;
text-align: center;
}


h1,h4{
color: #ffffff;
font-family: 'Lato',
sans-serif; font-size: 54px;
font-weight: 300; line-height: 58px; margin: 0 0 58px;
text-align: center;

}

.fa-linkedin-in:hover{
  color: #0a66c2;
}
.fa-github:hover{
    color: white;

}
.instagram{
  background: #f09433;
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }

.fa-instagram:hover{
color: #C13584;
}
.fa-server:hover{
color: #33CC99;
}

.fa-quora:hover{
color: #ff003f;
}

.fa-code:hover{
color: #ff9100;
}

.fa-hackerrank:hover{
color: #00cc00;
}

.fa-youtube:hover{
color: #FF0000;
}

.threeD {
  color: darkgrey;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  transition: 0.3s;
  text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
    1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
    5px 13px 15px black;

  white-space: pre;
}

.threeD:hover {
  transition: 0.3s;
  transform: scale(1.1)translate(-50%, -50%);
  text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
    1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
    1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.card-img-top {
    width: 100%;
    height: 43.5vw;
    object-fit: cover;
}

h1 { color: #D3D3D3; font-family: 'Lato', sans-serif; font-size: 54px; font-weight: 300; line-height: 58px; margin: 0 0 58px; }


p{ color: #D3D3D3; font-family: 'Lucida Sans', Arial, sans-serif; font-size: 17px; line-height: 34px; text-indent: 30px; margin: 0; padding: 20px;}


a { color: #fe921f; text-decoration: underline; }


a:hover { color: #ffffff }


.date { background: #fe921f; color: #ffffff; display: inline-block; font-family: 'Lato', sans-serif; font-size: 12px; font-weight: bold; line-height: 12px; letter-spacing: 1px; margin: 0 0 30px; padding: 10px 15px 8px; text-transform: uppercase; }

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #D3D3D3;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));

}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

*{
scroll-behavior: smooth !important;
}

section {

    margin:auto;


}


